* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
  background-color: black;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

/* ▼ WHERE YOUR CODE BEGINS */

ul {
  list-style-type: none;
  padding-left: 0;
}

.tab-menu {
  max-width: 540px;
  border-bottom: 1px solid #e5eaef;
  background-color: white;
}

.tab-menu::after {
  content: '';
  display: block;
  clear: left;
}

.tab-menu-item {
  display: block;
  float: left;
}

.tab-menu-item a {
  /* 인라인 요소는 padding/margin top/bottom 줄 수 없으므로 display 변경 */
  display: block;
  padding: 16px 20px;
}

.tab-menu-item a:focus{
  color: #2860e1;
  font-weight: 500;
  border-bottom: 2px solid #2860e1;
}